body{
  background-color: #000066;
  margin: 0px;
  border-width: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6{
  background-color: #330099;
  color: #eeeeee;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
  color:white;
  text-decoration: none;
}

.enclosure{
  display: inline-block;
  position: static;
  margin: 0px;
  border-width: 0px;
  padding: 0px;
  vertical-align: top;
}

.enc_nav{
  width: 25%;
  max-width: 25%;
}

.enc_main{
  width: 74%;
  max-width: 74%;
}

.section{
  -moz-border-radius: 2em;
  border-radius: 2em;
  background-color: white;
  padding: 0;
  display: block;
  max-width: 95%;
  width: 95%;
  margin: 1em 2%;
  border: solid black 2px;
}

.pad{
  padding: 2em;
}
