.spaced {
	padding: 0.5em;
}

.hStretch {
	width: 100%;
}

.mostlyHStretch {
	width: 95%;
}

.greentext {
	color: #4b6901;
	font-size: 5em;
	font-weight: bold; 
/*	margin: 0px 0px 0px;*/ 
	text-align: left;
}

.infoText {
	font-size: 1em;
	color: #a11010;
	text-align: left;
}

.noWrap {
	white-space: nowrap;
}

.shortInput {
	min-width: 99px;
}

.majorComponentWidth {
	min-width: 400px;
}